body {
    background-image: url('../image/Backround.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: lighten;
}

main{
    background-color: aliceblue;
    background-image: url('../image/Backround-login.jpg');
    background-size: cover;
    background-repeat: no-repeat;

    border-color: black;
    border-style: solid;
    border-radius: 8px;
    text-align: center;
    left: auto;
    align-self: center;
}
#LoginPage{
    height: 1080px;

}

main input{
    border-radius: 8px;
    border-block-color: rgba(70, 70, 70, 0.692);
    border-style: solid;
}
main button{
    border-radius: 8px;
    border-block-color: black;
    border-style: solid;
}

menuleiste{
    border-style: solid;
    border-color: black;
    background-color: lightgray;
    max-width: 100%;
    width: 100%;
    left: 0px;
    right: 0px;
    bottom: 0;
    position: fixed;
    
    height: 30px;
}
menuleiste button{
    height: 30px;
    width: 30px;
    border-radius: 8px;
}

#Application{
    background-color:rgba(9, 22, 138, 0.568);
    position: absolute;
    cursor: move;
    width: 560px;
    height: 350px;
    text-align: center;
    overflow: hidden;
    border-radius: 8px;
    border-block-color: black;
    border-style: solid;
}

#Application h3{
    line-height: 0px;
    color: white;
}

#Application #header{
    display: block;
}

#Application button{
    left: 0px;
    top: 0px;
    height: 26px;
    width: 26px;
    float: left;
}

#Application #content{
    background-color: grey;
    cursor: default;
    width: 560px;
    height: 320px;
    vertical-align: text-bottom;
    overflow-y: auto;
}


#chat-Content {
    height: 270px;
    width: 560px;
    overflow-y: auto;
    line-break: strict;
    background-color: azure;
    background-image: url('../js/App/img/Chatbackround.jpg');
    background-size: cover;
    background-repeat: no-repeat;

    border-radius: 8px;
    max-height:100%;
}
#chat-Content p{
    border-block-color: black;
    border-block-style: solid;
    border-block-width: 1px;
    border-radius: 8px;
    text-align: left;
}

#Chat-Message {
    background-color: rgba(202, 201, 201, 0.87);
}

#Chat-Message-User{
    background-color: rgba(56, 248, 56, 0.87);
}

#Chat-Message-Server {
    background-color: rgba(255, 255, 255, 0.418);
}

#chat-input{
    width: 540px;
    height: 20px;
    border-radius: 8px;
}

#MemmoryGame{
    display: inline-block;
    width: 560px;
    height: 320px;
    background-image: url('../js/App/img/Memmorybackground.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
#MemmoryGame card{
    height: 70px;
    width: 70px;
    background-color: white;
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    margin: 8px;
    border-radius: 4px;
}

#crypto{
    text-align: center;

}

#crypto input{
    margin-right: 30px;
    border-radius: 5px;
    margin-top: 10px;
}

#crypto button{
    width: 80px;
    align-self: center;
    margin-top: 10px;
    display: block;
    position: relative;
}

#crypto p {
    margin-top: 30px
}

#ClockApp {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../js/App/img/Clock-Background.jpg');
    height: 350px;
}

#ClockApp #Clock{
    font-size: 38px;
    letter-spacing: 0.109em;
    font-weight: 600;
    background-color: rgb(255, 246, 246);
    border-style: solid;
    border-color: black;
    width: 400px;
    height: 50px;
    line-height: 62px;
    margin-left: 15%;
    margin-right: 50%;
}

#ClockApp #startStopButton{
    width: 60px;
    height: 60px;
    font-size: 16px;
    font-variation-settings: "opsz" 20, "GRAD" 400, "YAXS" 400;
    letter-spacing: 0.013em;
    line-height: 27px;
    font-weight: 590.7999877929688;
    cursor: pointer; 
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 50%;
    margin-left: 45%;
}