body {
    background-image: url('../image/Backround.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: lighten;
}

menuleiste{
    border-style: solid;
    border-color: black;
    background-color: lightgray;
    max-width: 100%;
    width: 100%;
    left: 0px;
    right: 0px;
    bottom: 0;
    position: fixed;
    
    height: 30px;
}
menuleiste button{
    height: 30px;
    width: 30px;
    border-radius: 8px;
}

#Application{
    background-color:rgba(9, 22, 138, 0.568);
    position: absolute;
    cursor: move;
    width: 560px;
    height: 350px;
    text-align: center;
    overflow: hidden;
    border-radius: 8px;
    border-block-color: black;
    border-style: solid;
}

#Application h3{
    line-height: 0px;
    color: white;
}

#Application #header{
    display: block;
}

#Application button{
    left: 0px;
    top: 0px;
    height: 26px;
    width: 26px;
    float: left;
}

#Application #content{
    background-color: grey;
    cursor: default;
    width: 560px;
    height: 320px;
    vertical-align: text-bottom;
    overflow-y: auto;
}


#chat-Content {
    height: 270px;
    width: 560px;
    overflow-y: auto;
    line-break: strict;
    background-color: azure;
    background-image: url('../js/App/img/Chatbackround.jpg');
    border-radius: 8px;
}
#chat-Content p{
    border-block-color: black;
    border-block-style: solid;
    border-block-width: 1px;
    border-radius: 8px;
}

#Chat-Message {
    background-color: rgba(202, 201, 201, 0.87);
}

#Chat-Message-Server {
    background-color: rgba(255, 255, 255, 0.418);
}

#chat-input{
    width: 540px;
    height: 20px;
    border-radius: 8px;
}